constraints: HDBC ==2.4.0.0,
             HDBC-postgresql ==2.3.2.2,
             HTTP ==4000.2.19,
             HUnit ==1.2.5.2,
             MonadCatchIO-transformers ==0.3.1.3,
             MonadRandom ==0.3.0.1,
             QuickCheck ==2.7.6,
             aeson ==0.8.0.2,
             array ==0.5.0.0,
             attoparsec ==0.12.1.2,
             attoparsec-enumerator ==0.3.3,
             base ==4.7.0.0,
             base64-bytestring ==1.0.0.1,
             bifunctors ==4.2,
             binary ==0.7.1.0,
             blaze-builder ==0.3.3.4,
             blaze-builder-enumerator ==0.2.0.6,
             blaze-html ==0.7.1.0,
             blaze-markup ==0.6.3.0,
             bson ==0.3.1,
             byteable ==0.1.1,
             bytestring ==0.10.4.0,
             bytestring-mmap ==0.2.2,
             case-insensitive ==1.2.0.4,
             cereal ==0.4.1.1,
             cipher-aes ==0.2.10,
             clientsession ==0.9.1.1,
             comonad ==4.2.2,
             configurator ==0.3.0.0,
             containers ==0.5.5.1,
             contravariant ==1.2.0.1,
             convertible ==1.1.0.0,
             cprng-aes ==0.6.1,
             crypto-api ==0.13.2,
             crypto-cipher-types ==0.0.9,
             crypto-random ==0.0.8,
             cryptohash ==0.11.6,
             data-binary-ieee754 ==0.4.4,
             deepseq ==1.3.0.2,
             digestive-functors ==0.7.1.3,
             digestive-functors-heist ==0.8.6.1,
             digestive-functors-snap ==0.6.1.0,
             directory ==1.2.1.0,
             directory-tree ==0.12.0,
             distributive ==0.4.4,
             dlist ==0.7.1,
             either ==4.3.3,
             email-postmark ==0.2,
             entropy ==0.3.5,
             enumerator ==0.4.20,
             errors ==1.4.7,
             exceptions ==0.6.1,
             extensible-exceptions ==0.1.1.4,
             filepath ==1.3.0.2,
             free ==4.10.0.1,
             ghc-prim ==0.3.1.0,
             hashable ==1.2.3.1,
             heist ==0.14.1,
             heist-async ==0.6.0.0,
             integer-gmp ==0.5.1.0,
             lens ==4.7,
             logict ==0.6.0.2,
             map-syntax ==0.2,
             monad-control ==1.0.0.2,
             monads-tf ==0.1.0.2,
             mtl ==2.1.3.1,
             mwc-random ==0.13.3.0,
             nats ==1,
             network ==2.6.0.2,
             network-uri ==2.6.0.1,
             old-locale ==1.0.0.6,
             old-time ==1.1.0.2,
             parallel ==3.2.0.6,
             parsec ==3.1.8,
             prelude-extras ==0.4,
             pretty ==1.1.1.1,
             primitive ==0.5.4.0,
             process ==1.2.0.0,
             profunctors ==4.3.2,
             pwstore-fast ==2.4.4,
             random ==1.1,
             reflection ==1.5.1.1,
             regex-base ==0.93.2,
             regex-posix ==0.95.2,
             resource-pool ==0.2.3.2,
             rts ==1.0,
             safe ==0.3.8,
             scientific ==0.3.3.7,
             securemem ==0.1.7,
             semigroupoids ==4.2,
             semigroups ==0.16.1,
             setenv ==0.1.1.3,
             skein ==1.0.9.2,
             snap ==0.13.3.2,
             snap-core ==0.9.6.4,
             snap-less ==0.2,
             snap-loader-static ==0.9.0.2,
             snap-server ==0.9.4.6,
             split ==0.2.2,
             ssv ==0.3,
             stm ==2.4.4,
             syb ==0.4.4,
             tagged ==0.7.3,
             template-haskell ==2.9.0.0,
             text ==1.2.0.4,
             tf-random ==0.5,
             time ==1.4.2,
             transformers ==0.3.0.0,
             transformers-base ==0.4.3,
             transformers-compat ==0.3.3.3,
             unix ==2.7.0.1,
             unix-compat ==0.4.1.4,
             unordered-containers ==0.2.5.1,
             utf8-string ==1,
             vector ==0.10.12.2,
             vector-algorithms ==0.6.0.3,
             void ==0.7,
             xmlhtml ==0.2.3.4,
             zlib ==0.5.4.2,
             zlib-bindings ==0.1.1.5,
             zlib-enum ==0.2.3.1
